
ecommerce-microservices/.DS_Store
ecommerce-microservices/inventory-service/.DS_Store
ecommerce-microservices/inventory-service/target
ecommerce-microservices/order-service/target
ecommerce-microservices/product-service/target
